<div class="footer navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="clearfix">
            <div class="footer-nav">
                <a href="" target="_blank"
                   class="list-group-item"> <span class="pull-left clearfix"> <i
                            class="fa fa-lightbulb-o fa-lg"></i> </span>&nbsp;Ipsum Lorum </a>
            </div>
            <div class="footer-nav">
                <a href="" target="_blank"
                   class="list-group-item"> <span class="pull-left clearfix"> <i
                            class="fa fa-search fa-lg"></i> </span>&nbsp;Ipsum Lorum </a>
            </div>
            <div class="footer-nav">
                <a href="" target="_blank" class="list-group-item">
                    <span class="pull-left clearfix"> <i class="fa fa-shield fa-lg"></i> </span>&nbsp;Ipsum Lorum
                </a>
            </div>
            <div class="footer-nav">
                <a href="" target="_blank" class="list-group-item">
                    <span class="pull-left clearfix"> <i class="fa fa-globe fa-lg"></i> </span>&nbsp;Ipsum Lorum
                </a>
            </div>
            <div class="footer-nav">
                <a href="" target="_blank"
                   class="list-group-item"> <span class="pull-left clearfix"> <i
                            class="fa fa-camera-retro fa-lg"></i> </span>&nbsp;Ipsum Lorum </a>
            </div>
        </div>
        <!--end of clearFix-->
    </div>
    <!--end of container -->
</div>
<!--end of footer-->

