<div class="row" data-ng-controller="imageListCtrl">
    <div class="panel panel-success" data-ng-if="images.length !== 0 || images">
        <div class="panel-heading">
            <h3 class="panel-title">{{galleryTitle}}
                <span data-ng-if="view == 'upload'" class="panelNote">NOTE: any photos missing a <span
                        class="red">required</span> field will be rejected</span>

                <div class="floatRight" data-ng-include="'views/paginate.html'"></div>
            </h3>
        </div>
        <div class="panel-body  lightGrey">
            <div class="col-md-12" data-ng-if="!images"><i class="fa fa-circle-o-notch fa-spin"></i></div>
            <div class="col-md-12" data-ng-if="images.length === 0">No images in gallery.</div>
            <!-- fancy filter here is based on whether user has selected to filter in the image-editor.html which changes some rootScope variables in app.js. Maybe not so clean? -->
            <div class="col-md-6 flip-in"
                 data-ng-repeat="image in images | orderBy:'version':true"
                 data-ng-hide="filter.printQuality && !image.context.custom.printQuality || filter.tag.length>0 && image.tags.toString().indexOf(filter.tag)===-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-4 imageContainer">
                            <div class="label clear floatLeft" style="margin-left:-10px;margin-bottom:5px;"
                                 data-ng-class="image.context.custom.printQuality ? 'label-success': 'label-danger'">
                                {{image.context.custom.printQuality ? 'hi': 'lo'}}&#8209;res
                            </div>
                            <cl-image public-id="{{image.public_id}}" width="180" height="180" crop="fit" quality="100"
                                      format="jpg"></cl-image>
                            <div data-ng-include="'views/toolbox.html'"></div>
                        </div>
                        <div class="col-md-8" data-ng-form="imageForm">
                            <div class="row">
                                <div class="form-group col-md-12"
                                     data-ng-class="{'has-error': !image.context.custom.title}">
                                    <label class="control-label" for="title{{$index}}">Title</label>
                                    <input type="text" class="form-control input-md"
                                           placeholder="{{image.context.custom.title || 'Title'}}"
                                           data-ng-model="image.context.custom.title"
                                           id="title{{$index}}" data-ng-blur="updateImage(image)"
                                           data-ng-keypress="($event.which === 13)?updateImage(image):0"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6"
                                     data-ng-class="{'has-error': !image.context.custom.keywords}">
                                    <label class="control-label" for="tags{{$index}}">Keywords</label>
                                    <input type="text" class="form-control input-md"
                                           placeholder="{{image.context.custom.keywords || 'Keywords'}}"
                                           data-ng-model="image.context.custom.keywords"
                                           id="tags{{$index}}" data-ng-blur="updateImage(image)"
                                           data-ng-keypress="($event.which === 13)?updateImage(image):0"/>
                                </div>
                                <div class="form-group col-md-6"
                                     data-ng-class="{'has-error': !image.context.custom.theme}">
                                    <label class="control-label" for="theme{{$index}}">Theme</label>
                                    <select class="form-control input-md"
                                            placeholder="{{image.context.custom.theme || 'Theme'}}"
                                            data-ng-model="image.context.custom.theme"
                                            id="theme{{$index}}" data-ng-change="updateImage(image)"
                                            data-ng-options="value.id as value.label group by value.group for value in themes">
                                        <option value="">--Select theme--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6"
                                     data-ng-class="{'has-error': !image.context.custom.location}">
                                    <label class="control-label" for="location{{$index}}">Location photo taken</label>
                                    <input type="text" class="form-control input-md"
                                           placeholder="{{image.context.custom.location || 'Location'}}"
                                           data-ng-model="image.context.custom.location"
                                           id="location{{$index}}" data-ng-blur="updateImage(image)"
                                           data-ng-keypress="($event.which === 13)?updateImage(image):0"/>
                                </div>
                                <div class="form-group col-md-6"
                                     data-ng-class="{'has-error': !image.context.custom.countryCode}">
                                    <label class="control-label" for="countryCode{{$index}}">Country photo taken</label>
                                    <select class="form-control input-md"
                                            placeholder="{{image.context.custom.countryCode || 'Country'}}"
                                            data-ng-model="image.context.custom.countryCode"
                                            id="countryCode{{$index}}" data-ng-change="updateImage(image)"
                                            data-ng-options="value.id as value.label for value in countries">
                                        <option value="">--Select country--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6"
                                     data-ng-class="{'has-error': !image.context.custom.date}">
                                    <label class="control-label" for="date{{$index}}">Date</label>
                                    <input type="date" class="form-control input-md"
                                           placeholder="{{image.context.custom.date}}"
                                           data-ng-model="image.context.custom.date"
                                           id="date{{$index}}" data-ng-blur="updateImage(image)"
                                           data-ng-keypress="($event.which === 13)?updateImage(image):0"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="credit{{$index}}">Credit</label>
                                    <input type="text" class="form-control input-md"
                                           placeholder="{{image.context.custom.credit || 'Credit'}}"
                                           data-ng-model="image.context.custom.credit"
                                           id="credit{{$index}}" data-ng-blur="updateImage(image)"
                                           data-ng-keypress="($event.which === 13)?updateImage(image):0"/>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12"
                                         data-ng-class="{'has-error': !image.context.custom.copyright}">
                                        <label class="control-label" for="copyright{{$index}}">Copyright</label>
                                        <select class="form-control input-md"
                                                placeholder="{{image.context.custom.copyright || 'Copyright'}}"
                                                data-ng-model="image.context.custom.copyright"
                                                id="copyright{{$index}}" data-ng-change="updateImage(image)"
                                                data-ng-options="value.id as value.label for value in copyright"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12"
                                         data-ng-class="{'has-error': !image.context.custom.caption}">
                                        <label class="control-label" for="caption{{$index}}">Caption</label>
                                        <textarea name="caption" class="form-control input-md"
                                                  placeholder="{{image.context.custom.caption || 'Caption'}}"
                                                  data-ng-model="image.context.custom.caption"
                                                  id="caption{{$index}}" data-ng-blur="updateImage(image)"
                                                  data-ng-keypress="($event.which === 13)?updateImage(image):0"
                                                  rows="4" ng-maxlength="499" maxlength="500"></textarea>
                                        {{imageForm.caption.$viewValue.length || 0}}/500
                                                <span class="red" ng-show="imageForm.caption.$error.maxlength">
                                                     Reached limit!
                                                 </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
