<section data-ng-include="'views/image-action.html'"></section>
<div class="row" data-ng-controller="imageListCtrl">
    <div class="panel panel-success" data-ng-if="images.length !== 0 || images">
        <div class="panel-heading">
            <h3 class="panel-title">&nbsp;
                <div class="floatRight" data-ng-include="'views/paginate.html'"></div>
            </h3>
        </div>
        <div class="panel-body  lightGrey">
            <div class="col-md-12" data-ng-if="!images"><i class="fa fa-circle-o-notch fa-spin"></i></div>
            <div class="col-md-12" data-ng-if="images.length === 0">No images in gallery.</div>
            <div class="col-md-12 slide-left"
                 data-ng-repeat="image in images | orderBy:'version':true"
                 data-ng-hide="filter.printQuality && !image.context.custom.printQuality || filter.tag.length>0 && image.tags.toString().indexOf(filter.tag)===-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-4 imageContainer">
                            <div class="label clear floatLeft" style="margin-left:-10px;margin-bottom:5px;"
                                 data-ng-class="image.context.custom.printQuality ? 'label-success': 'label-danger'">
                                {{image.context.custom.printQuality ? 'hi': 'lo'}}&#8209;res
                            </div>
                            <cl-image public-id="{{image.public_id}}" width="350" height="350" crop="fit" quality="100"
                                      format="jpg"></cl-image>
                            <div class="row">
                                <div class="form-group col-md-12" style="text-align: left">
                                    <h4 class="grey">Caption</h4>
                                    <span>{{image.context.custom.caption || 'Caption'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" data-ng-include="'views/toolbox.html'"></div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h4 class="grey">Title</h4>
                                    <span>{{image.context.custom.title || 'Title'}}</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h4 class="grey">Copyright</h4>
                                    <span>{{image.context.custom.copyright || 'Copyright' }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h4 class="grey">Keywords</h4>
                                    <span>{{image.context.custom.keywords || 'Keywords'}}</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h4 class="grey">Theme</h4>
                                    <span>{{image.context.custom.theme || 'Theme'}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h4 class="grey">Location</h4>
                                    <span>{{image.context.custom.location || 'Location'}}</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h4 class="grey">Country code</h4>
                                    <span>{{image.context.custom.countryCode || 'Country code'}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h4 class="grey">Date</h4>
                                    <span>{{image.context.custom.date | date:'MMM dd, yyyy'}}</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h4 class="grey">Credit</h4>
                                    <span>{{image.context.custom.credit || 'Credit'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>