<section>
    <div class="row">
        <div class="panel panel-info" data-ng-controller="imageUploadCtrl" data-ng-if="user" class="slide-left">
            <div class="panel-heading">
                <h3 class="panel-title">New images</h3>
            </div>
            <div class="panel-body lightGrey">
                <div class="row">
                    <div id="direct_upload" class="col-md-12" data-ngf-drop data-ng-model="files"
                         data-ngf-drag-over-class="dragOverClass($event)" data-ngf-multiple="true"
                         data-ngf-allow-dir="true"
                         data-ngf-accept="'.jpg,.png,.gif,.pdf'">
                        Drag and drop images here or
                        <button href="#" class="btn btn-success" data-ngf-select data-ng-model="files"
                                data-ngf-capture="'camera'"
                                title="upload"
                                resetOnClick="true" id="files">Select images
                        </button>
                    </div>
                    <div data-ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                </div>
                <div class="row">
                    <div class="col-md-4 slide-left" data-ng-repeat="file in files">
                        <div class="file">
                            <h4>{{file.name}}</h4>

                            <div class="status">{{file.status}}</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-info" style="width:{{file.progress}}%"
                                     data-ng-init="progress=0"></div>
                            </div>
                        </div>
                    </div>
                    <!-- this will show you all the properties of the upload file, not really necessary
                                       <div class="col-md-8">
                                            <div class="info">
                                                <small>
                                                    <table style="background:none">
                                                        <tr data-ng-repeat="(key, value) in file.result">
                                                            <td data-ng-if="key!='colors' && key!='delete_token'">{{key}}:&nbsp;</td>
                                                            <td class="font-bold" data-ng-if="key!='colors' && key!='delete_token'">
                                                                {{value}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </small>
                                            </div>
                                        </div>
                                           -->
                </div>
            </div>
        </div>
    </div>
</section>
<section data-ng-include="'views/image-list.html'"></section>
