    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info" data-ng-controller="imageEditorCtrl" data-ng-if="isEditor" class="slide-left">
                <div class="panel-heading">
                    <h3 class="panel-title">Image actions</h3>
                </div>
                <div class="panel-body lightGrey">
                    <div class="row">
                        <div class="col-md-2" data-ng-if="isEditor && view == 'moderate'">
                            <form>
                                <label class="control-label" for="del">Delete images by tag</label>
                                <select id="del" class="form-control" data-ng-model="selectedTag" data-ng-options="tag for tag in tags" data-ng-change="deleteImagesByTag()">
                                    <option value="">-- select tag --</option>
                                </select>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <form>
                                <label class="control-label" for="filter">Filter images by tag</label>
                                <select id="filter" class="form-control" data-ng-model="filter.tag" data-ng-options="tag for tag in tags">
                                    <option value="">-- select tag --</option>
                                </select>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <form>
                                <label class="control-label" for="hires">Print&#8209;quality&nbsp;only</label>
                                <input type="checkbox" id="hires" data-ng-model="filter.printQuality">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>