<ul class="nav navbar-nav navbar-right" data-ng-controller="loginController">
    <li>
        <a data-ng-if="product.userGuide" href="{{product.userGuide}}" target="_blank"><i class="fa fa-question-circle white"></i> Help</a>
    </li>
    <li data-ng-if="user" class="dropdown">
        <img data-ng-show="user.data.thumbnailimageUrl !== ''" data-ng-src="{{user.data.thumbnailimageUrl}}" data-ng-class="{'thumb': user.data.thumbnailimageUrl.length>0}">
        <span>
            <i data-ng-if="user.data.thumbnailimageUrl.length===0" class="fa fa-user fa-2x thumb"></i>
        </span>
   </li>
    <li data-ng-if="user" class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">{{user.data.name.fullName}}<span data-ng-if="location">, {{location.name}},<br/>{{location.adminName1}}, {{location.countryName}}</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li data-ng-repeat="org in user.data.organizations">
                <span><i class="fa fa-user"></i> {{org.title}}, {{org.customType}}</span>
            </li>
            <li><a href="#" data-ng-click="logout()"><i class="fa fa-sign-out red"></i> Logout</a></li>
        </ul>
    </li>
    <li data-ng-if="!user"><a data-ng-click="login()"><i class="fa fa-sign-in"></i> Login</a></li>
</ul>