<div data-ng-message="popupBlocked" class="messages scale-fade label label-default">You may need to allow popups from this site in order for the portal to log you in.</div>
<div data-ng-message="magesUploaded" class="messages scale-fade label label-default">Images successfully uploaded.</div>
<div data-ng-message="imagesUploadedError" class="messages scale-fade label label-default">Error uploading images.</div>
<div data-ng-message="imageDeleted" class="messages scale-fade label label-default">Deleted image.</div>
<div data-ng-message="imagesDeleted" class="messages scale-fade label label-default">Deleted images.</div>
<div data-ng-message="imageDeletedError" class="messages scale-fade label label-default">Error deleting image.</div>
<div data-ng-message="imageUpdated" class="messages scale-fade label label-default">Updated image.</div>
<div data-ng-message="imageUpdatedError" class="messages scale-fade label label-default">Error updating image.</div>
<div data-ng-message="imageModerated" class="messages scale-fade label label-default">Moderated image.</div>
<div data-ng-message="imageModeratedError" class="messages scale-fade label label-default">Error moderating image.</div>

<div data-ng-message="orgShare" class="messages scale-fade label label-default">Image shared with ORG.</div>
<div data-ng-message="publicShare" class="messages scale-fade label label-default">Image shared with public.</div>

<div data-ng-message="fileFail" class="messages scale-fade label label-default">Error fetching images.</div>

<div data-ng-message="userFail" class="messages scale-fade label label-default">Error loading your user profile.</div>
<div data-ng-message="geoFail" class="messages scale-fade label label-default">Could not geo-locate you.</div>

<div data-ng-message="linkCopied" class="messages scale-fade label label-default">Copied link to clipboard.</div>

<div data-ng-message="over10" class="messages scale-fade label label-default">You cannot have more than 10 unmoderated images in your queue. Contact your admin.</div>
<div data-ng-message="updated" class="messages scale-fade label label-default">Updated image fields.</div>

<div data-ng-message="checkQuotaFail" class="messages scale-fade label label-default">User has no images awaiting moderation.</div>

<div data-ng-message="permaTag" class="messages scale-fade label label-default">Cannot delete a permanent tag.</div>
