<div class="navbar navbar-default navbar-fixed-top">
        <section data-ng-include="'views/login.html'"></section>
        <div class="navbar-header">
            <span class="navbar-brand">
                <img width="71" height="32" alt="ORG logo" src="images/logo.png">
            </span>
            <span class="navbar-brand app_title">Cloudinary Image Library</span>
        </div>
        <ul class="nav navbar-nav menu">
            <li data-ng-if="user && user.data.primaryEmail.indexOf('@'+ domain)!==-1" data-ng-class="{'active': view == 'upload'}">
                <a href="#/image_upload">My uploads</a>
            </li>
            <li data-ng-if="isEditor" data-ng-class="{'active': view == 'moderate'}">
                <a href="#/image_moderation">Approval queue</a>
            </li>
            <li data-ng-if="user && user.data.primaryEmail.indexOf('@'+ domain)!==-1" data-ng-class="{'active': view == 'org'}">
                <a href="#/gallery_org">{{domain}} Gallery</a>
            </li>
            <li data-ng-class="{'active': view == 'public'}">
                <a href="#/gallery_public">Public Gallery</a>
            </li>
        </ul>
        <div id="messages" data-ng-messages="messages" data-ng-include="'views/messages.html'"></div>
</div>
