<!-- go all the way back -->
<i data-ng-if="cursorPos!=-1" data-ng-click="getImagesByTag(view, 'approved', null)"
   class="fa fa-fast-backward fa-lg"></i>
&nbsp;
<span ng-repeat="page in cursor">
    <!-- print all page numbers not previous page or current page or next page unless last page -->
    <a ng-if="page != cursor[cursorPos] && page != cursor[cursor.length-1]" ng-click="getImagesByTag(view, 'approved', page)">&nbsp;{{$index+2}}&nbsp;</a>
    <span class="font-bold" ng-if="page == cursor[cursorPos]">&nbsp;<u>{{$index+2}}</u>&nbsp;</span>
</span>
&nbsp;
<i data-ng-if="cursor[cursorPos+1]" data-ng-click="getImagesByTag(view, 'approved', cursor[cursorPos+1])"
   class="fa fa-step-forward fa-lg"></i>
