<div class="panel panel-info lightGrey">
    <div class="row">
        <div data-ng-if="view == 'upload' || isEditor" class="col-md-4">
            <a class="floatLeft"
               data-ng-click="deleteImage(image.public_id)" title="Delete image">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa fa-trash fa-stack-1x blue"></i>
                                        </span>del
            </a>
        </div>
        <div data-ng-if="isEditor && view == 'moderate'" class="col-md-4">
            <a class="floatLeft"
               data-ng-click="moderateImage(image, 'rejected', null)"
               title="Reject image">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa fa-thumbs-down fa-stack-1x blue"></i>
                                        </span>reject
            </a>
        </div>
        <div data-ng-if="isEditor && view == 'moderate'" class="col-md-4">
            <a class="floatLeft"
               data-ng-click="moderateImage(image, 'approved', 'org')"
               title="Share with {{domain}}">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-share fa-stack-1x blue"></i>
                                        </span>org
            </a>
        </div>
        <div data-ng-if="isEditor && view == 'moderate'" class="col-md-4">
            <a class="floatLeft"
               data-ng-click="moderateImage(image, 'approved', 'public,org')"
               title="Share with the world">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-globe fa-stack-1x blue"></i>
                                        </span>public
            </a>
        </div>
        <div data-ng-if="isEditor && image.moderation_status == 'approved'" class="col-md-4">
            <a class="floatLeft"
               data-ng-click="moderateImage(image, 'pending', '')"
               title="Return to moderation queue">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-arrow-left fa-stack-1x blue"></i>
                                        </span>mod
            </a>
        </div>
        <div data-ng-if="isEditor" class="col-md-4">
            <a class="floatLeft"
               href="https://cloudinary.com/console/media_library#/dialog/image/upload/{{image.public_id}}"
               target="cloudinary"
               title="Edit image">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa fa-edit fa-stack-1x blue"></i>
                                        </span>edit
            </a>
        </div>

        <div class="col-md-4">
            <a class="floatLeft" data-ng-click="copyUrlToClipboard(image.url)" title="copy link to clipboard">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-link fa-stack-1x"></i>
                                    </span>copy
            </a>
        </div>

        <div class="col-md-4">
            <a target="_self" href="{{image.url}}" download="{{image.url}}" class="floatLeft" title="download">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-download fa-stack-1x"></i>
                                    </span>down
            </a>
        </div>

        <div style="clear:both;"></div>
    </div>
</div>
<div class="col-md-6 no-left-padding" data-ng-repeat="tag in image.tags">
    <span class="badge badge-warning tag">{{tag|cleanTag}}</span>
</div>
