#direct_upload { border: 4px dashed #ccc; padding: 30px;border-radius: 10px;}
#direct_upload.dragover { border-color: #0c0; }
#direct_upload.dragover-err { border-color: #c00; }
.upload_details { font-size: 12px; margin: 20px; border-top: 1px solid #ccc; word-wrap: break-word; }
/* YVES */
.col-centered{
    float: none;
    margin: 0 auto;
}
.imageContainer {
    text-align: center;
}
.imageContainer img {
    margin-left: -20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.dropdown {
    cursor: pointer;
}
.deleteImg {
    position: relative;
    left: -25px;
    top: -150px;
}
.lightGrey {
    background: #fdfdfd !important;
}
.floatLeft {
    float:left;
}
.floatRight {
    float:right;
}
a {
    cursor: pointer;
}
.blue {
    color:#36799B;
}
a:hover, span>i:hover, div>i:hover {
    color: black !important;
    cursor: pointer;
}
.frameContainer {
    margin-top: 80px;
}
.tag {
    /*font-size:inherit !important;*/
    font-weight:normal !important;
    margin-right: 5px;
}
.panelNote {
    float:right;
    font-size: smaller;
}
input[type=checkbox] {
    margin:0;
}

.hoverBlue{
    color:#000 !important;
}
.hoverBlue:hover{
    color:#36799B !important;
}
.app_title {
    color:#fff !important;
    font-size: 22px;
    padding-top: 14px;
}