html, body {
    padding:0;
    background: none;
    height:100%;
}
a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}
.search-only {
    padding-right:5px;
}
.panel-accordion {
    background:#fffccc;
}
.control-label {
    font-weight: bold;
}
.badge {
    width:80px;
    border-radius: 5px;
}
.row {
    padding-left:0;
    padding-right:0;
}
.row > [class*='col-']  {
    padding-left:5px;
    padding-right:5px;
}
.panel {
    margin-bottom:10px;
}
.footer {
    padding: 0;
}
.footer-nav a {
    background:none;
    white-space: nowrap;
}
.footer-copyright {
    color:#555;
}
.no-margin-bottom, .footer-nav, .list-group {
    margin-bottom: 0;
}
.thumb {
    width: 36px;
    height: 36px;
    margin-top:14px;
    margin-left: 5px;
    border-radius: 5px;
    float: right;
}

.menu {
    float:none;
}
.nav li {
    margin-left:0 !important;
}
a {
    font-weight: normal !important;
}
.navbar {
    font-size:14px !important;
}
.navbar-right {
    float: none;
    /*position: absolute;*/
    right:0;
}
.navbar-right li ul li span {
    margin: 3px 20px;
    font-size: 80%;
    display:block;
}
.navbar-nav > li > a {
    border-radius: 5px;
    border: #3A548B;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    border-radius: 5px;
    border-color: #5a74af;
}
.panel-title {
    margin-top:3px;
}
.nav >li>h5 {
    color:white !important;
    padding: 10px;
}
.frame {
    height:100%;
}
#iFrame {
    width:100%;
    border:none;
    height: 78%;
}
#messages {
    position: absolute;
    right: 300px;
    top:40px;
    z-index: 1;
}

