@import url('//fonts.googleapis.com/css?family=Roboto');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
/*@import url('font-awesome.css');*/

body {
    background-color:#e9eaed;
    font-size:16px;
    line-height: 1.52857143;
    color:#000;
}

a {color:#36799B;}
a[name] {color:#333; cursor:default;}
a[name]:hover {text-decoration:none;}
.small-margin-bottom {margin-bottom:15px;}
.row {padding-left:10px;padding-right:10px; margin-left:0; margin-right:0;}
.no-border {border:none; box-shadow:none;}
h1, h2, h3, h4, h5 {font-family: 'Roboto', Arial, sans-serif;}


/* Top Navigation 
    ================================================== */
.navbar-brand {
    padding:9px 5px 8px 12px;
    font-family: 'Roboto', Arial, sans-serif;}
.navbar-default {
    background-color:#000;
    border-color:#000;
    border-radius:0;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
    font-family: 'Roboto', Arial, sans-serif;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color:#3A548B;
    color:#fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color:#3A548B;
    color:#fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#fff;
    background-color:#5a74af;
}

.navbar-default a.navbar-brand.app_title {
    font-size:20px;
    padding-top:14px;
    color:#f1f2f6;
    font-weight:bold;}

.navbar-default .navbar-toggle .icon-bar {background-color:#fff;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color:#3A548B;outline:none;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border:none;}
.navbar-nav.navbar-right:last-child {margin-right:0;}

@media (max-width:768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover  {color:#fff;}
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover  {background-color:#5a74af;}
}
.app_title {padding-right:15px;}
.dropdown-menu {font-size:16px;}

/* Search
    ================================================== */
.search-only .form-control {
    padding: 0 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    height:34px;
}
.form-control:focus {box-shadow:none;}
.navbar-default .form-control {border-color:#4D68A2;}
.search-only {position: relative;}
.search-only .search-icon {
    position: absolute;
    top: 2px;
    left: 8.5px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    color: #e6e9ed;
    z-index: 20;
}
.search-only .form-control:last-child {padding-left: 40px;}
.has-success .form-control,
.has-success .form-control:focus {
    border-color: #8cc152;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Page Header
    ================================================== */
.page-header {
    margin:20px 0 20px;
    border-bottom:1px solid #dfe0e4;
}

/* Buttons
    ================================================== */
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 2px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
table .btn {margin-bottom:0;}
.btn-lg {font-size:16px; padding:10px 16px;}
.btn-sm {font-size:12px; padding: 5px 10px;}
.btn-xs {font-size:10px; padding:1px 5px;}
.btn:focus,
.btn:active:focus,
.btn.active:focus {outline: none;}
.btn-link  {color:#36799b;}
.btn-default {
    background-color: #fdfdfd;
    border-color: #cdced0;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #f5f5f5;
    border-color: #a6a6a6;}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #fdfdfd;
    border-color: #a6a6a6;
}
.btn-info {background-color:#4D68A2;border-color:#46619b;}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active{
    background-color:#3A548B;
    border-color: #3A548B;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #81a8cd;
    border-color: #81a8cd;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {background-color:#3A548B;}

.btn-success {
    background-color:#8cc152;
    border-color:#82b849;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
    background-color: #a0d468;
    border-color: #82b849;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #b7d590;
    border-color: #b7d590;
}
.btn-warning {
    background-color:#f6bb42;
    border-color:#efa50b;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active{
    background-color: #ffce54;
    border-color: #efa50b;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #f6d286;
    border-color: #f6d286;
}
.btn-danger {
    background-color:#bf3127;
    border-color:#c5382b;
}
.btn-danger :hover,
.btn-danger :focus,
.btn-danger :active,
.btn-danger .active{
    background-color: #ffce54;
    border-color: #efa50b;
}
.btn-danger .disabled,
.btn-danger [disabled],
fieldset[disabled] .btn-danger ,
.btn-danger .disabled:hover,
.btn-danger [disabled]:hover,
fieldset[disabled] .btn-danger :hover,
.btn-danger .disabled:focus,
.btn-danger [disabled]:focus,
fieldset[disabled] .btn-danger :focus,
.btn-danger .disabled:active,
.btn-danger [disabled]:active,
fieldset[disabled] .btn-danger :active,
.btn-danger .disabled.active,
.btn-danger [disabled].active,
fieldset[disabled] .btn-danger .active {
    background-color: #f6d286;
    border-color: #f6d286;
}

/* Labels
    ================================================== */
label {font-weight:normal;}
.label-default { background-color: #fdfdfd; border: 1px solid #a6a6a6; color:#000;}
.label-sucess {background-color:#8CC152;}
.label-warning {background-color:#F6BB42;}
.label-danger {background-color:#BF3127;}
.label-info {background-color:#4D68A2;}

/* Badges ================================================== */
.badge-default {background-color: #fdfdfd; border: 1px solid #a6a6a6; color:#000;}
.badge-success {background-color:#8CC152;}
.badge-warning {background-color:#F6BB42;}
.badge-danger  {background-color:#BF3127;}
.badge-info    {background-color:#4D68A2;}

/* Panels ================================================== */
.panel-default > .panel-heading {background-color:#f6f7f8; color:#000; border-color:#e9eaed;}
.panel-default {border-color:#d3d6db;}
.panel-success > .panel-heading {background-color:#DFF0D8; color:#3C763D;}
.panel-warning > .panel-heading {background-color:#FFDD87; color:#8A6D3B;}
.panel-danger > .panel-heading {background-color:#FFA181; color:#A94442;}
.panel-info > .panel-heading {background-color:#9EC4D7;color:#31708F;}

/* Tables ================================================== */
table {background-color:#fff;}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {background-color:#f4f6f9;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {border-color:#e3e8f0; vertical-align:top;}

/* Wells ================================================== */
.well {background-color:#fff; border:none; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);}

/* Forms ================================================== */
.form-control {border:1px solid #d3d6db;font-size:16px;height:38px;}
fieldset {padding-right:20px;}
legend {border:none; font-weight:bold;}
.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {color:#8CC152;}
.has-success .form-control {border-color:#8CC152;}
.has-success .form-control-feedback {color:#8CC152;}
.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline, .has-warning .form-control-feedback {color:#d49d21;}
.has-warning .form-control {border-color:#F6BB42;}
.has-warning .form-control-feedback {color:#F6BB42;}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {color:#BF3127;}
.has-error .form-control {border-color:#BF3127;}
.has-error .form-control-feedback {color:#BF3127;}
.has-feedback {position:relative;}
.has-feedback .form-control-feedback {
    display: block;
    height: 34px;
    line-height: 42px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 25px;
    width: 34px;
}
.input-group-addon {color:#555;}
.input-group-btn .dropdown-menu {left:auto;}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {padding-top:10px;}
::-moz-focus-inner {border: 0;padding: 0;}

/* Tabs
    ================================================== */
.nav-tabs {border-bottom: 1px solid #ddd;}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li>a:hover {border-color: #eee #eee #ddd;}
.nav-tabs>li.active {background-color:#fff;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified>li {float: none}
.nav-tabs.nav-justified>li>a {
    text-align: center;
    margin-bottom: 5px;
    outline:0;
}
.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width:768px) {
    .nav-tabs.nav-justified>li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified>li>a {margin-bottom: 0; outline:0;}
}
.nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 4px;
    outline:0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {border: 1px solid #ddd;}
@media (min-width:768px) {
    .nav-tabs.nav-justified>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
        outline:0;
    }
    .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
        border-bottom-color: #fff;
    }
}
.nav-tabs {
    border-bottom: none;
    /*background-color: #e8e6e0;*/
    background-color:#e8eaef;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li {
    margin-bottom: 0;
    /*border-left: 1px solid #cfcabd;*/
    border-left:1px solid #c5cde1;
}
.nav-tabs>li:first-child {border-left: none;}
.nav-tabs>li>a {
    margin-right: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    /*color: #434a54;*/
    color:#000;
}
.nav-tabs>li:first-child>a {
    -webkit-border-radius: 4px 0 0;
    -moz-border-radius: 4px 0 0;
    border-radius: 4px 0 0;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    border: none;
    /*background-color: #dbd9d3;*/
    background-color:#dddee0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    background-color: #fff!important
}
.nav-tabs .dropdown-toggle, .nav-tabs .dropdown-toggle:focus, .nav-tabs .dropdown-toggle:hover {}
.nav-tabs li.dropdown.open .dropdown-toggle {background-color: #dddee0;}
.nav-tabs li.dropdown.active.open .dropdown-toggle {color: #434a54;}
.nav-tabs .dropdown-toggle .caret, .nav-tabs .dropdown-toggle:focus .caret, .nav-tabs .dropdown-toggle:hover .caret, .nav-tabs li.dropdown.active .dropdown-toggle .caret, .nav-tabs li.dropdown.active.open .dropdown-toggle .caret, .nav-tabs li.dropdown.open .caret, .nav-tabs li.dropdown.open a:focus .caret, .nav-tabs li.dropdown.open a:hover .caret, .nav-tabs li.dropdown.open.active .caret {
    border-top-color: #000;
    border-bottom-color: #000;
    color:#000;
}
.nav-tabs.nav-justified>li>a {
    margin-bottom: 0;
    outline:0;
    text-align: center;
}
.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
.nav-tabs.nav-justified>li>a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.nav-tabs.nav-justified>li:first-child>a {
    -webkit-border-radius: 4px 0 0;
    -moz-border-radius: 4px 0 0;
    border-radius: 4px 0 0;
}
.nav-tabs.nav-justified>li:last-child>a {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {border: none;}
@media (min-width:768px) {
    .nav-tabs.nav-justified>li>a {
        border-bottom: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        outline:0;
    }
    .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {border-bottom: none;font-family: 'Roboto', Arial, sans-serif;}
}
.tab-content {
    padding: 10px;
}
.tabs-below .nav-tabs {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.tabs-below .nav-tabs>li:first-child>a {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
.tabs-below .nav-tabs.nav-justified>li:last-child>a {
    -webkit-border-radius: 0 0 4px;
    -moz-border-radius: 0 0 4px;
    border-radius: 0 0 4px;
}
.tabs-left .nav-tabs>li, .tabs-right .nav-tabs>li {
    float: none;
    border-left: none;
    border-top: 1px solid #c5cde1;
}
.tabs-left .nav-tabs>li:first-child, .tabs-right .nav-tabs>li:first-child {
    border-top: none;
}
.tabs-left .nav-tabs>li>a, .tabs-right .nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
}
.tabs-left .nav-tabs {
    float: left;
    margin-right: 19px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.tabs-left .nav-tabs>li:first-child>a {
    -webkit-border-radius: 4px 0 0;
    -moz-border-radius: 4px 0 0;
    border-radius: 4px 0 0;
}
.tabs-left .nav-tabs>li:last-child>a {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
.tabs-right .nav-tabs {
    float: right;
    margin-left: 19px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.tabs-right .nav-tabs>li:first-child>a {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}
.tabs-right .nav-tabs>li:last-child>a {
    -webkit-border-radius: 0 0 4px;
    -moz-border-radius: 0 0 4px;
    border-radius: 0 0 4px;
}
@media (max-width: 767px) {
    .nav-tabs > li {border-left:none; border-bottom:1px solid #c5cde1;}
    .tabs-left .nav-tabs > li {border-bottom:none;}
    .tabs-right .nav-tabs > li {border-bottom:none;}
}
/* Pills
    ================================================== */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color:#F6F7F8;
    border:1px solid #d3d6db;
    color:#000;
    font-family: 'Roboto', Arial, sans-serif;
}
.nav-pills > li a {color:#000;}
.nav-pills > li .dropdown-menu a {color:#000;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background-color: #dddee0;}
.nav > li > a:hover, .nav > li > a:focus {background-color:#dddee0;}

/* Modals
    ================================================== */
.modal-header {
    background-color:#f6f7f8;
    color:#000;
    border-color:#e9eaed;
    min-height: 16.4286px;
    padding: 15px;
}
.close {opacity:0.3;}

/* Breadcrumbs
    ================================================== */
.breadcrumb {
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.breadcrumb>.active {color: #434a54;}
.breadcrumb a {color: #36799B;}
.breadcrumb-arrow {
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
}
.breadcrumb-arrow li:first-child a {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top;
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px;
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: "";
}
.breadcrumb-arrow li span {
    padding: 0 10px;
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    padding: 0 10px 0 25px;
    height: 36px;
    line-height: 36px;
}
.breadcrumb-arrow li:first-child a {padding: 0 10px;}
.breadcrumb-arrow li a {
    position: relative;
    color: #333;
    background-color: #f0f0f2;
    text-decoration: none;
}
.breadcrumb-arrow li:first-child a {padding-left: 10px;}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    content: '';
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
.breadcrumb-arrow li a:before {
    right: -10px;
    border-left: 11px solid #f0f0f2;
    z-index: 3;
}
.breadcrumb-arrow li a:after {
    right: -11px;
    border-left: 11px solid #D3D6DB;
    z-index: 2;
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #e1e3e9;
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {border-left-color: #e1e3e9;}
.breadcrumb-arrow li a:active {
    background-color: #dddee0;
    border: 1px solid #e1ddcc;
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {border-left-color: #e1ddcc;}
.breadcrumb-arrow li span {color: #434a54;}

/* Pagination
    ================================================== */
.pagination>li>a, .pagination>li>span {
    color: #333;
    background-color: #fff;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #000;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #4D68A2;
    border-color:  #4D68A2;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #fff;
    background-color: #dddee0;
    border-color: #dddee0;
}
.pagination .prev_next a:hover  {
    cursor:pointer;
}
.pagination > li > a, .pagination > li > span {font-size:14px;}

/* Pager
    ================================================== */
.pager li > a, .pager li > span {background-color:#4D68A2; border:none;}
.pager li > a {color:#fff;}
.pager li > a:hover {background-color:#3A548B;}

/* Accordion
    ================================================== */
.panel-group .panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.panel-group .panel+.panel {margin-top: 0;}
.panel-group .panel-heading {
    padding: 0;
    border-bottom-color: transparent;
    background-color:#F6F7F8;
}
.panel-default .panel-heading {
    padding: 10px 15px;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    padding: 15px 0;
    border-top-color: transparent;
}
.panel-group .panel-title a {
    padding: 10px 0;
    display: block;
}
.panel-group-lists .panel {
    border-bottom: 1px solid #D3D6DB;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.panel-group-lists .panel:first-child {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.panel-group-lists .panel:last-child {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    border-bottom: none;
}
.panel-group-lists .panel-heading+.panel-collapse .panel-body {
    padding: 15px;
    border-top-color: #e8e6e0;
}
.panel-group-lists .panel-title a {
    padding: 10px 15px;
    color: #434a54;
    line-height: 19px;
}
.panel-group-lists .panel-title a:active, .panel-group-lists .panel-title a:focus, .panel-group-lists .panel-title a:hover {
    background-color:#E8EAEF;
    color:#000;
    text-decoration:none;
    outline:none;}
/* Alerts
    ================================================== */
.alert-warning, .alert-warning .alert-link  {
    background-color: #ffdd87;
    border-color:#ffdd87;
    color: #8a6d3b;
}
.alert-danger, .alert-danger .alert-link  {
    background-color: #ffa181;
    border-color:#ffa181;
    color: #a94442;
}
.alert-success, .alert-success .alert-link {
    background-color: #DFF0D8;
    border-color:#DFF0D8;
    color: #3C763D;
}
.alert-info, .alert-info .alert-link  {
    background-color: #9ec4d7;
    border-color:#9ec4d7;
    color: #31708f;
}
/* Progress Bars
    ================================================== */
.progress-bar {background-color:#4D68A2;}
.progress-bar-info {background-color:#4D68A2;}
.progress-bar-success {background-color:#8cc152;}
.progress-bar-warning {background-color:#f6bb42;}
.progress-bar-danger {background-color:#e74030;}


/* Lists
    ================================================== */
.list-group-item {border-color:#edeae4;}
a.list-group-menuItem.active, a.list-group-menuItem.active:hover, a.list-group-menuItem.active:focus {background-color:#F6F7F8;border-color:#D3D6DB; color:#000;}
a.list-group-menuItem:hover,
a.list-group-menuItem:focus {
    text-decoration: none;
    background-color: #F0F0F2;
}

/* Popovers
    ================================================== */
.popover {background-color:#3A548B; color:#fff;}
.popover.left > .arrow:after {border-left-color:#3A548B;}
.popover.top > .arrow:after{border-top-color:#3A548B;}
.popover.right > .arrow:after{border-right-color:#3A548B;}
.popover.bottom > .arrow:after{border-bottom-color:#3A548B;}

/* Tooltips
    ================================================== */
.tooltip-inner  {background-color:#3A548B;}
.tooltip.top .tooltip-arrow {border-top-color: #3A548B;}
.tooltip.top-left .tooltip-arrow {border-top-color: #3A548B;}
.tooltip.top-right .tooltip-arrow {border-top-color: #3A548B;}
.tooltip.right .tooltip-arrow {border-right-color: #3A548B;}
.tooltip.left .tooltip-arrow {border-left-color: #3A548B;}
.tooltip.bottom .tooltip-arrow {border-bottom-color: #3A548B;}
.tooltip.bottom-left .tooltip-arrow {border-bottom-color: #3A548B;}
.tooltip.bottom-right .tooltip-arrow {border-bottom-color: #3A548B;}

/* Thumbnails
    ================================================== */
.thumbnail.pull-left,  img.pull-left {margin-right:10px;}
.thumbnail.pull-right, img.pull-right {margin-left:10px;}

/* Blockquote
    ================================================== */
blockquote {border-left:5px solid #edeae4;}
.blockquote-reverse, blockquote.pull-right {border-color:#edeae4;}

/* Text
    ================================================== */
.text-warning {color: #8a6d3b;}
.text-success {color: #3C763D;}
.text-danger {color: #a94442;}
.text-info {color: #31708f;}

/* Footer
    ================================================== */
.footer {
    padding: 40px 0;
    border-top:1px solid #d1d2d5;
    background-color:#e5e6ea;
}
.footer-logo, .footer-nav {
    float: left;
    padding: 0 20px;
    width: 20%;
}
@media (max-width:768px) {
    .footer-logo {margin-bottom: 20px;}
    .footer-logo, .footer-nav {
        float: none;
        display: block;
        width: 100%;
    }
}
.footer-logo {
    margin-top: -5px;
    height: 32px;
    line-height: 32px;
}
.footer-logo img {margin-right: 10px;}
.footer-nav .nav-menuItem {line-height: 28px}
.footer-nav .nav-menuItem>a:active, .footer-nav .nav-menuItem>a:hover {text-decoration: underline;}

/*#goal, #outcome, #output {margin-left: 40px;}*/
h4.panel-title {font-size: 14px;}
.panel-body {font-size: 14px;}
.no-left-padding {padding-left: 0 !important;}
.no-right-padding {padding-right: 0 !important;}
.panel-group-lists .panel-title a:active, .panel-group-lists .panel-title a:focus {background:none;}
#goal .dropdown-menu, #outcome .dropdown-menu, #output .dropdown-menu {font-size: 14px;}
#goal .panel > .table-responsive, #outcome .panel > .table-responsive, #output .panel > .table-responsive {margin-bottom: 85px;}
.border-bottom {border-bottom: 1px solid #dfe0e4; padding: 7px 0;}

.searchSuggest {background-color: #FFFFFF;border: 1px solid #C4C4C4;color: #222222;margin-left: 0;margin-top: 0;max-height: 200px; overflow: auto; position: absolute; text-align: left; width: 89%; z-index: 1000;}
.searchSuggest a, .searchSuggest a:hover {text-decoration: none;}
.searchSuggest div { padding: 5px;background: #EEE;}
.searchSuggest div:hover {background: #FFF;}
.searchSuggest a.close-action {text-align: right; color: #FF0000; font-size: 11px;}
.searchSuggest a.close-action div {padding: 1px; background: #FFF;}
.custom_selectbox {font-size: 13px; padding: 5px 0; height: auto; width: 50%;}
.blue {color: #46619b; cursor: pointer;}
.green {color: #82b849 !important; cursor: pointer;}
.orange {color: #f6bb42 !important; cursor: pointer;}
.red {color: #bf3127 !important;}
.grey {color: #999 !important; cursor: default;}
.table-responsive .has-feedback .form-control-feedback {top: -5px;}
.table-responsive .form-control {height: 30px;}
.inline-form-footer{background-color: #f6f7f8; padding: 3px; color: #999; border: 1px solid #d3d6db; border-top: none;}
.inline-form-footer button{float: right;}
.table-responsive .fa-check {cursor: pointer;}
#goal .alert {margin-bottom: 0;}
.editor-div {background: none repeat scroll 0 0 white; margin-top: 20px; padding: 5px; max-width: 426px; width: 100%; height: 150px; overflow: auto; border: 1px solid #d3d6db;}
.margin-bottom-50 {margin-bottom: 50px !important;}
.clear {clear:both;}
.table-responsive h5 {padding: 5px;}
.navbar-right {font-size: 80%;}
.navbar-right li ul li a {font-size: 80%;}
.scrollable-menu { max-height: 300px; overflow-y: auto; overflow-x: hidden;}
.font-bold {font-weight: bold;}
#accordion select option {padding: 5px;}
h4.panel-title small {font-weight: normal;}
.control-label {padding-top: 0 !important;}
.panel-group .panel {overflow: visible;}
.alert {padding: 5px 30px 5px 10px; margin-bottom: 5px;}
.table {margin-bottom: 0;}
.output-tooltip {font-weight: normal; cursor: pointer;}
.rpmr-select-box {font-size: 13px; padding: 5px 0; height: auto; width: 100%;}